fastapi
uvicorn[standard]
httpx
qdrant-client>=1.6.0
requests
sentence-transformers
langchain
langgraph
langchain-community
langchain-groq
groq
pymupdf
pytesseract
pillow
keybert
langdetect
python-docx
python-multipart
debugpy
chonkie
SQLAlchemy
psycopg2-binary
trafilatura
beautifulsoup4
lxml_html_clean
python-jose[cryptography]
authlib
pydantic[email]
pydantic-settings
pytest
pytest-asyncio
httpx
markdown
python-markdown
redis
asyncio-throttle
youtube-transcript-api
yt-dlp