fastapi
uvicorn[standard]
httpx
qdrant-client>=1.6.0
requests
sentence_transformers
langchain
pymupdf
pytesseract
pillow
keybert
langdetect
python-docx
python-multipart
debugpy
chonkie
SQLAlchemy
psycopg2-binary
trafilatura
# playwright
beautifulsoup4
lxml_html_clean